@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
html{
    scroll-behavior: smooth;
   transition: var(--transition);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /*--------------Font Family----------------*/
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Inter", sans-serif;
    --ff-design:"Satisfy", cursive;
    --ff-brand:"Margarine", sans-serif;

    /*----------------Colors-------------------------*/
    --clr-white: #fff;
    --clr-dark: #333;
    --clr-grey-1:#102a42;
    --clr-grey-2:#617d98;
    --clr-grey-3:#f1f5f8;
    --clr-primary: #f53b57;
    --clr-primary-light: #f04660;
    --clr-secondary: #e9b949;
    --transition: all 0.3s linear;
}
/*-------------------Global CSS------------------------------*/
a{
    text-decoration: none;
}
img{
    width:100%;
    display:block;
}
h1,h2,h3,h4{
    text-transform: capitalize;
    line-height: 1.25;
}
body{
    font-family: var(--ff-primary)
}
.clearfix::before,
.clearfix::after{
    content:"";
    clear:both;
    display:table;
}
.section-center{
    padding:4rem 0;
    width:85vw;
    margin:0 auto;
    max-width:1170px;

}
.section-title h3{
    font-family: var(--ff-design);
    color:var(--clr-primary);
    font-size:2rem;
}
.section-title{
    margin-bottom:2rem;
}
@media screen and (min-width:992px){
    .section-center{
        width:95%;
        padding:4rem 1rem;
    }
}
/*--------------------------------------------------*/
.btn{
    background-color: var(--clr-primary);
    color:var(--clr-white);
    padding:14px 14px;
    letter-spacing: 0.5px;
    display:inline-block;
    transition: var(--transition);
    font-weight:400;
    font-size:0.875;
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    cursor:pointer
}
.btn:hover{
     background-color: var(--clr-primary-light);
}
.search i{
    color: var(--clr-primary);
    position:fixed;
    top:5%;
    left:5%;
    cursor:pointer;
    font-size:20px;
    z-index: 1;
}
.navbar{
    position:fixed;
    background-color:rgba(0,0,0,0.9);
    left:0;
    top:0;
    width:100%;
    height:100%;
    transform: translateX(-100%);
    transition: var(--transition);
    z-index: 3;
}
#nav-check{
    display:none;
}
#nav-check:checked ~ .navbar{
    transform: translateX(0);
}

.navbar h3{
    padding:1rem;
    font-size:1.3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight:700;
    color:transparent;
    background-image: linear-gradient(180deg,var(--clr-primary) 25%,var(--clr-secondary)); /*this line shows background color not text*/
    background-clip: text; /*If we want to add a color to text then we will add this line*/
    margin-bottom:-1rem;
}
.navbar-header img{
    width:100px;
    margin:auto; 
}
.navbar-header{
    position:relative;
}
.navbar-header i{
    position:absolute;
    right:2%;
    top:6px;
    cursor:pointer;
    color: var(--clr-dark);
    font-size:25px;
    transition: var(--transition);
}
.navbar-header:hover i{
    color: var(--clr-white);
}
.nav-items{
    list-style-type:none;
}
.nav-link{
    display: block;
    text-transform: uppercase;
    color:var(--clr-white);
    font-size: 1.2rem;
    padding:0.75rem 1rem;
    letter-spacing: 0.5px;
    transition: var(--transition);
}
.nav-link:hover{
    background-color: var(--clr-primary-light);
    padding-left: 1.5rem; /*this line for wave like effect*/
    border-left:0.5rem solid var(--clr-secondary)
}
@media screen and (min-width:768px){
    .navbar{
        width:35%;
        max-width:20rem;
    }
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("./image/bg-img.jpg");
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.banner {
  display: flex;
  flex-direction: column; /* 🔑 This makes h2, h1, a go to next line */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center; /* Optional → center text */
}
.banner h2{
    font-family: var(--ff-design);
    color:transparent;
    background-image: linear-gradient(180deg,var(--clr-secondary),var(--clr-primary));
    background-clip: text;
    
}
.banner h1{
    font-family: var(--ff-brand);
    color:var(--clr-white);
    margin-top:1.25rem ;
    margin-bottom: 2rem;
    font-weight: 400;
   text-shadow: 2px 5px 5px var(--clr-primary);
   animation: flame 1s infinite;
}
@keyframes flame {

0%,

100% {

text-shadow: 0-5px 10px rgba(255, 69, 0, 0.6), 0-5px 20px rgba(255, 69, 0, 0.4), 8-5px 30px rgba(255, 69, 0, 0.2), 0-5px 40px rgba(255, 69, 0, 0.1);

}

25% {

text-shadow: 0-5px 15px rgba(255, 69, 0, 0.8), 0-5px 30px rgba(255, 69, 0, 0.6), 0-5px 45px rgba(255, 69, 0, 0.4), 0-5px 60px rgba(255, 69, 0, 0.2);

}
50% {

text-shadow: 0-5px 20px rgba(255, 69, 0, 0.8), 0-5px 40px rgba(255, 69, 8, 0.6), 0-5px 60px rgba(255, 69, 8, 0.4), 0-5px 80px rgba(255, 69, 0, 0.2);
}
75% {

text-shadow: 0 -5px 15px rgba(255, 69, 0, 0.8), 0-5px 30px rgba(255, 69, 0, 0.6), 0-5px 45px rgba(255, 69. 0, 0.4), 0-5px 60px rgba(255, 69, 0, 0.2);
}
}
.banner-btn{
    border-radius:1000px;
    background-image: linear-gradient(180deg,var(--clr-primary),var(--clr-secondary));

}
.banner-btn:hover{
       outline:0.125rem solid var(--clr-primary);
       outline-offset:0.25rem;
}
.banner-bttom-border{
    height:0.5rem;
    background-image: linear-gradient(to left, var(--clr-primary),var(--clr-secondary),var(--clr-primary));
}
.button{
    margin-top:20px;
}
.features{
    background-color: var(--clr-grey-3);
    cursor:pointer;
}
.feature{
    padding:2.5rem 0;
    text-align: center;
   transition:var(--transition);
}
.material-symbols-outlined{
    transition: var(--transition);
}
.feature-title{
    text-transform: uppercase;
}
.feature-text{
    max-width: 17rem;
    color:var(--clr-grey-2);
   margin:auto;
}
.feature:hover{
    background-color: var(--clr-white);
    box-shadow: 0px 2px var(--clr-primary);
}
.feature:hover .feature-title{
    color:var(--clr-primary);
}
.feature span:hover {
  color:var(--clr-primary); /* hover color */
  transform:translateY(-5px);
}
@media screen and (min-width:576px) {
    .feature{
        width:50%;
        float:left;
    }
}
@media screen and (min-width:1200px){
    .feature{
        width:25%;
    }
}

/*--------------------about-Start----------*/
.about-img,
.about-info{
    padding:4rem 0;
}
.about-image-container{
    background-color: var(--clr-primary);
    max-width:30rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius:5px;
    overflow:hidden;
}
.image{
    transition: var(--transition);
}
.about-image-container:hover .image{
    transform:scale(1.2);
    opacity:0.5;
}
.about-text{
    width:26rem;
    color:var(--clr-grey-2)
}
@media screen and (min-width: 992px) {
    .about-img,
    .about-info {
        float: left;
        width:50%; /* full width on smaller screens */
    }
    .about-info{
        padding-left:2rem;
    }
}
/*---------------Product start--------------------*/
.products{
    background-color: var(--clr-grey-3);
}
.product-info{
     padding:2rem 0;
}
.product-text{
    color:var(--clr-grey-2);
    width:22rem;
}
.product-img{
    border-radius:15px;
    height:17rem;
    object-fit: cover;
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.2);
    margin-bottom:16px;
    margin-top:10px;
    transition: var(--transition);
}
.product-img:hover{
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}
.product-title{
    font-size:1.02rem;
}
.product-price{
    color:var(--clr-primary)
}
@media screen and (min-width:768px){
    .product{
        float:left;
        width:50%;
        padding-right:2rem;
    }
}
@media screen and (min-width:992px){
    .product{
        float:left;
        width:33.33%;
    }
}
@media screen and (min-width:1200px){
    .product-info{
        float:left;
        width:30%;
    }
    .product-inventory{
        float:left;
        width:70%;
    }
    .product{
        margin:0;
        padding:0 1rem;
    }
}
/*----------------Product End---------------------*/

/*----------------Service Start--------------------*/
  .service-title{
    text-align: center;
    margin-top:4rem;
    margin-bottom:-4rem;
  }
  .service-card{
    background-color: var(--clr-grey-3);
    margin: 2rem 0;
    border-radius:15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition:var(--transition);
    overflow:hidden;
  }
  .service-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  }
  .service-img{
    height:17rem;
    object-fit: cover;
  }
  .service-info{
    text-align: center;
    padding:3rem 1rem 2.5rem 1rem;
  }
  .service-info p{
     max-width:20rem;
     margin: auto;
     color:var(--clr-grey-2);
  }
  .service-btn{
    font-size: 0.75rem;
    text-transform: capitalize;
    padding:0.4rem 0.8rem;
    border-radius:3px;
    font-weight:400;
    margin-top:1.25rem;
  }
  .service-img-container{
    position:relative;
  }
  .service-icon{
    height:60px;
    width:60px;
    padding:10px 0.6rem;
    border-radius:50%;
    background-color: var(--clr-primary-light);
    position:absolute;
   left:50%;
   bottom:0;
   transform: translate(-50%,50%);
   display: grid;
   place-items: center;
   border:0.375rem solid var(--clr-grey-3);
   text-align: center;
   color:var(--clr-secondary);
}
@media screen and (min-width:768px){
    .service-card{
        width:50%;
        float:left;
        margin-right: 5%;
    }
}
@media screen and (min-width:992px){
     .service-card{
        width:30%;
        margin-right: 3.33%;
    }
}
 /*----------------Service Start--------------------*/

 /*----------------Contact Start--------------------*/
 .contact{
    background-color: var(--clr-grey-3);
 }
 .contact-info,
 .contact-form{
    margin:1rem 0;
 }
 .contact-title{
    display:flex;
    align-items: center;
    gap:5px;
    font-weight:500 ;
 }
 .contact-text{
    color:var(--clr-grey-2);
 }
 .icon{
    color:var(--clr-grey-2);
 }
 .contact-item{
    margin-bottom:1.25rem;
 }
 .contact-form{
    background-color: var(--clr-white);
    padding: 1.3rem;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
 }
 .contact-form h4{
    font-family: var(--ff-design);
    color:var(--clr-primary);
    text-align: center;
    font-size:25px;
 }

/*----------------Contact End--------------------*/

/*----------------Input box start-----------------*/
.form-group{
    margin-bottom:10px;
    height:40px;
    position:relative;
}
.form-control{
    width:100%;
    height:100%;
    border: solid 2px var(--clr-grey-2);
    background: none;
    outline:none;
    padding:16px;
    border-radius:3px;
    resize:none;
    color:var(--clr-secondary);
    position:absolute;
    top:0;
    left:0;
}
textarea.form-control{
        height:100px;
}
.form-label{
    position:absolute;
    top:7px;
    left:7px;
    color:var(--clr-grey-2);
    background-color:white;
    padding:0 6px;
    font-size:14px;
    pointer-events:none;
    transition: var(--transition);
}
.form-control:focus + .form-label{
    top:-10px;
    color:var(--clr-primary);
}
.form-control:focus{
    border:1px solid var(--clr-primary);
}
.form-control:valid + .form-label{
    top:-10px;
}
.submit-btn{
    padding:0.7rem 1rem;
    margin-top:3.5rem;
}
@media screen and (min-width:992px){
    .contact-info,
    .contact-form{
        float:left;
        width:50%;
    }
}
/*----------------Input box End-----------------*/
